language essence 1.3

{% for c in adt.constructors -%}
{%- for t in c.types -%}

find {{c.prefix}}_{{loop.index}} : {{t | lower}}{%if t == "Int" -%}(1..5) {% endif %} 

{% endfor -%}
{%- endfor -%}

find tag : int(1..{{adt.constructors | length}})

such that

{%- for f in funcs %}
(tag = {{loop.index}} /\ ({{f.input}})   {%- for n in f.nons -%} /\ ({{n}}) {% endfor %}) {% if not loop.last%} \/ {% endif %}
{% endfor %}